* {
  --dtui-theme-color-scheme: dark;
  --dtui-theme-main-color: 30, 34, 44;
  --dtui-theme-secondary-color: 35, 40, 52;
  --dtui-theme-accent-color: 58, 104, 175;
  --dtui-theme-text-color: 240, 240, 240;

  --dtui-theme-accent-low-alpha: 0.5;
  --dtui-theme-accent-mid-alpha: 0.75;
  --dtui-theme-accent-high-contrast: hsl(219, 100.0%, 77.5%);
  --dtui-theme-text-low-alpha: 0.5;
  --dtui-theme-text-mid-alpha: 0.75;

  --dtui-theme-separator-color: rgba(var(--dtui-theme-text-color), 0.05);
  --dtui-theme-border-color: rgba(var(--dtui-theme-text-color), 0);
  --dtui-theme-border-width: 2px;
  --dtui-theme-border-radius: 8px;

  --dtui-ui-sidebar-hover-debounce: 0ms;
  --dtui-ui-sidebar-animation-speed: 300ms;
}

#root.root {
  data-act-el-color-scheme: var(--dtui-theme-color-scheme);
  data-frame-color-scheme: var(--dtui-theme-color-scheme);
  data-popup-color-scheme: var(--dtui-theme-color-scheme);
  data-toolbar-color-scheme: var(--dtui-theme-color-scheme);
  --scroll-color: rgba(var(--dtui-theme-accent-color), var(--dtui-theme-accent-low-alpha));
  --frame-fg: rgba(var(--dtui-theme-text-color), var(--dtui-theme-text-mid-alpha));
  --frame-bg: rgb(var(--dtui-theme-main-color));
  --tabs-activated-bg: rgb(var(--dtui-theme-secondary-color));
  --active-el-fg: rgb(var(--dtui-theme-text-color));
  --tabs-activated-shadow: 0 0 0 0 rgba(0, 0, 0, 0), inset 0 0 0 var(--dtui-theme-border-width) rgba(var(--dtui-theme-accent-color), 1);
  --frame-el-overlay-selected-border: rgb(var(--dtui-theme-accent-color));
  --frame-el-overlay-selected-bg: rgb(var(--dtui-theme-secondary-color));
  --frame-el-overlay-hover-bg: rgba(var(--dtui-theme-accent-color), var(--dtui-theme-accent-low-alpha));
  --general-border-radius: var(--dtui-theme-border-radius);
  --ctx-menu-fg: rgb(var(--dtui-theme-text-color));
  --ctx-menu-bg: rgb(var(--dtui-theme-secondary-color));
  --ctx-menu-border-radius: var(--dtui-theme-border-radius);
  --ctx-menu-opt-border-radius: calc(var(--dtui-theme-border-radius) - 1px);
  --ctx-menu-separator: var(--dtui-theme-separator-color);
  --ctx-menu-shadow: 0 0 0 var(--dtui-theme-border-width) var(--dtui-theme-border-color), 0px 0px 3px 3px hsla(0, 0%, 0%, 0.08);
  --s-frame-bg: rgb(var(--dtui-theme-main-color));
  --s-frame-fg: rgb(var(--dtui-theme-text-color));
  --s-toolbar-bg: rgb(var(--dtui-theme-main-color));
  --s-toolbar-fg: rgb(var(--dtui-theme-text-color));
  --s-act-el-bg: rgb(var(--dtui-theme-secondary-color));
  --s-act-el-fg: rgb(var(--dtui-theme-text-color));
  --s-popup-bg: rgb(var(--dtui-theme-main-color));
  --s-popup-fg: rgb(var(--dtui-theme-text-color));
  --s-popup-border: var(--dtui-theme-border-color);
  --bookmarks-expanded-folder-bg: rgb(var(--dtui-theme-secondary-color));
  --tabs-progress-bg: rgb(var(--dtui-theme-accent-color));
  --active-el-overlay-hover-bg: rgba(var(--dtui-theme-accent-color), var(--dtui-theme-accent-low-alpha));
  --active-el-overlay-clicked-bg: rgba(var(--dtui-theme-accent-color), var(--dtui-theme-accent-mid-alpha));
  --toolbar-el-overlay-hover-bg: rgba(var(--dtui-theme-accent-color), var(--dtui-theme-accent-low-alpha));
  --toolbar-el-overlay-clicked-bg: rgba(var(--dtui-theme-accent-color), var(--dtui-theme-accent-mid-alpha));
  --toolbar-el-overlay-active-bg: rgb(var(--dtui-theme-secondary-color));
  --toolbar-el-overlay-active-border: rgb(var(--dtui-theme-accent-color));
  --toolbar-el-overlay-selected-bg: rgb(var(--dtui-theme-secondary-color));
  --toolbar-el-overlay-selected-border: rgb(var(--dtui-theme-accent-color));

  --tabs-lvl-opacity: 0.25;
  --tabs-indent: 12px;
  --ctx-menu-min-width: 170px;
}

/* Center favicons (depending on the sidebar collapsed width) */
.Tab .body { padding-left: 2px; }

/* Hover transition */
#root:not(:hover) {
  .Tab[data-lvl]:not([data-lvl="0"]) { --tabs-indent: 0px; }
  .Tab .body:after { width: 0px; }
  .Tab .title { opacity: 0; }
}
.Tab .body:after {
  width: 2px;
  margin-left: 2px;
}
.Tab .title { transition: opacity var(--dtui-ui-sidebar-animation-speed) linear var(--dtui-ui-sidebar-hover-debounce); }

/* Audio indicator */
.body .audio-icon { fill: rgb(var(--dtui-theme-text-color)); }
.body:has(.audio) {
  .fav { display: none; }
  .title { margin-left: 10px; }
  .audio {
    background-color: rgb(var(--dtui-theme-accent-color));
    height: 17px;
    width: 17px;
    margin: 5.5px 0px 0px -14.5px;
    border-radius: 9999px;
  }
}

/* Disable tab folding */
.exp { display: none; }
.Tab[data-parent][data-folded] .fav > img { opacity: 1; }
