/* ============================================================================
 * Shared: should be copied to Sidebery settings > Styles editor
 * ========================================================================= */

* {
  --theme-color-scheme: dark;
  --theme-main-color: 30, 34, 44;
  --theme-secondary-color: 35, 40, 52;
  --theme-accent-color: 58, 104, 175;
  --theme-text-color: 240, 240, 240;

  --theme-accent-low-alpha: 0.5;
  --theme-accent-mid-alpha: 0.75;
  --theme-accent-high-contrast: hsl(219, 100.0%, 77.5%);
  --theme-text-low-alpha: 0.5;
  --theme-text-mid-alpha: 0.75;

  --theme-separator-color: rgba(var(--theme-text-color), 0.1);
  --theme-border-color: rgba(var(--theme-text-color), 0);
  --theme-border-width: 2px;
  --theme-border-radius: 6px;

  --ui-sidebar-hover-debounce: 0ms;
  --ui-sidebar-animation-speed: 300ms;
}

/* ============================================================================
 * Others
 * ========================================================================= */

* {
  --theme-shadow-margin: 6px;
  --theme-shadow: 0px 0px var(--theme-shadow-margin) hsla(0, 0%, 0%, 0.4);

  --ui-sidebar-collapsed-width: 35px;
  --ui-sidebar-extended-width: 300px;
  --ui-bookmarks-hover-debounce: 200ms;
  --ui-bookmarks-animation-speed: 200ms;

  --ui-bookmarks-inner-height: 20px; /* NOTE: this is affected by font typeface/size */
}
